* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
}
h2 {
  @apply text-lg;
}

body {
  @apply bg-slate-900 text-white;
}
.wrap {
  @apply w-1/2 m-auto;
}

header {
  @apply text-center my-6;
}

.header__logo {
  @apply uppercase font-bold;
}

.project {
  @apply mb-10;
}

.project__img {
  @apply rounded-2xl mb-4 flex justify-center;
}

/* SKILL CARDS */

.skill--card {
  @apply bg-slate-700 rounded-3xl p-2;
}
